body {
    font-family: 'Pretendard', sans-serif;
}

.custom-button {
    background-color: #5592FC;
    border: none;
    color: white;
}

.custom-button2 {
    background-color: #05eea9;
    border: none;
    color: white;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}